*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    }
    body{
        background-color: #ececec;
    }
    header{
        background-color: white;
        margin: 0 auto 40px;
    }
    