*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    }
    body{
        background-color: #ececec;
    }
    header{
        background-color: white;
        margin: 0 auto 40px;
    }
    main{ 
        margin: auto;
        width: 70%;
        background-color: white;
        padding: 1%;
        border:1px solid #c3c7cc;
   }
